@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

$sidebar-width: 250px;

.sidebar {
  background-color: $gray-500;
  border-right: 1px solid $gray-500;
  height: 100%;
  max-width: $sidebar-width;
  min-width: $sidebar-width;

  &:global(.is-visible-desktop) {
    margin-left: -$sidebar-width;

    @media (max-width: map-get($grid-breakpoints, 'md')) {
      margin-left: 0;
    }
  }

  @media (max-width: map-get($grid-breakpoints, 'md')) {
    margin-left: -250px;
  }
}
