@import '../../../../node_modules/bootstrap/scss/functions';
@import '../../../../node_modules/bootstrap/scss/variables';

.footer {
  background-color: $gray-800;
  color: rgba($white, 0.5);
  display: grid;
  grid-template-areas: 'tagline version';
  min-height: 100%;
}
